* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: CookieRun;
    src: url(fonts/cookie_run_bold.woff);
}

body {
    font-family: CookieRun;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcol {
    flex-direction: column;
}

.background {
    position: absolute;
    width: 110%;
    height: 110%;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px);
}

.color_overlay {
    background: rgb(93, 51, 0);
    mix-blend-mode: color;
}

.background.package {
    filter: none;
}

.text_title {
    --border: rgb(0, 0, 0);
    position: relative;
    margin-left: 20px;
    padding: 10px;
    padding-right: 30px;
    color: white;
    font-style: italic;
    background-image: linear-gradient(to top, var(--border), var(--border));
    background-clip: text;
    -webkit-background-clip: text;
    align-self: flex-start;
}

h1.text_title {
    font-size: 70px;
    font-weight: bold;
    -webkit-text-stroke: 10px transparent;
    text-shadow:
        0 7px var(--border),
        2px 7px var(--border),
        -2px 7px var(--border);
}

h3.text_title {
    margin-top: -25px;
    font-size: 30px;
    -webkit-text-stroke: 8px transparent;
}

.text_title.package {
    margin: 0;
    font-style: normal;
    align-self: center;
}

h1.text_title.package {
    line-height: 55px;
}

h3.text_title.package:first-child {
    padding-top: 0;
    color: rgb(255, 255, 128);
}

h4.text_title.package {
    margin-top: 20px;
    text-align: center;
    font-size: 20px !important;
    line-height: 25px;
    font-weight: normal;
    color: rgb(255, 255, 128);
    -webkit-text-stroke: 7px transparent;
}

.text_title_note {
    font-size: 25px !important;
    color: white !important;
    -webkit-text-stroke: 6px transparent !important;
}

.time_left {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    margin: 20px 30px;
}

.time_left > img {
    position: relative;
    z-index: 2;
    height: 60px;
    margin-right: -30px;
}

.time_left > p {
    padding: 5px 20px;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 25px;
    color: white;
    text-align: right;
}

.cookie {
    position: absolute;
    top: 0;
}

.cookie[data-cookie="1"] {
    right: 340px;
    transform: scaleX(-1);
}

.cookie[data-cookie="2"] {
    top: -15px;
    right: 190px;
}

.cookie[data-cookie="3"] {
    width: 400px;
    top: -50px;
    right: 200px;
}

.box {
    position: relative;
    margin: 15px 20px;
    width: 95%;
    height: 120px;
    background-color: rgb(197, 248, 252);
    border-radius: 20px;
    box-shadow:
        0 0 0 5px white,
        0 0 0 8px black,
        0 5px 0 6px black;
    justify-content: flex-start;
    overflow: hidden;
}

.box-easy {
    background-color: rgb(197, 252, 200);
}

.box-normal {
    background-color: rgb(252, 240, 197);
}

.box-hard {
    background-color: rgb(252, 197, 197);
}

.icon {
    width: 110px;
    height: 100%;
    background-color: rgb(158, 194, 197);
}

.icon > i {
    padding: 5px;
    font-size: 70px;
    color: white;
    background-image: linear-gradient(to top, rgb(106, 133, 171), rgb(106, 133, 171));
}

.mission {
    margin-left: 20px;
}

.mission > .flex {
    justify-content: flex-start;
    font-size: 20px;
    text-transform: capitalize;
}

.mission > .flex > img {
    width: 25px;
}

.text {
    width: 850px;
    font-size: 30px;
    line-height: 35px;
}

.rewards {
    height: 80%;
    width: 100px;
    margin-left: auto;
    margin-right: 30px;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
}

.rewards * {
    margin-left: 25px;
}

.rewards > img {
    height: 70%;
}

.text_border {
    background-image: linear-gradient(to top, black, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.rewards > p {
    margin-top: -20px;
    margin-bottom: -10px;
    padding: 5px;
    font-size: 30px;
    color: white;
}

.button_cont {
    position: relative;
    width: 120px;
    margin-right: 15px;
    color: white;
}

.shine {
    position: absolute;
    top: 0;
    left: 6%;
    width: 15px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    transform: rotate(70deg);
}

.package_cookie {
    height: 300px;
}

.package_deadline {
    position: relative;
    margin-top: -10px;
    padding: 2px 25px;
    background-color: rgb(255, 68, 0);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow:
        inset 0 2px rgba(255, 255, 255, 0.2),
        inset 0 -1px rgba(255, 255, 255, 0.2);
    color: white;
}

.package_deadline::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 104%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 15px;
    height: 15px;
    border: 2px solid black;
    background-color: rgb(255, 68, 0);
    border-top: none;
    border-right: none;
}

.package_deadline > p {
    position: relative;
    z-index: 2;
    padding: 0 5px;
}

.package_deadline > img {
    position: relative;
    z-index: 2;
    height: 25px;
}

.button {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 153, 255);
    border: 3px solid rgb(0, 57, 95);
    border-radius: 20px;
    box-shadow:
        inset 0 4px rgba(97, 218, 255, 0.6),
        inset 0 -4px rgba(0, 92, 120, 0.4);
    font-size: 35px;
    letter-spacing: -3px;
}

.button.package {
    width: 200px;
    height: 90px;
    background-color: rgb(63, 214, 71);
    border: 3px solid rgba(0, 0, 0, 0.8);
    box-shadow:
        inset 0 35px rgba(107, 255, 97, 0.6),
        inset 0 -6px rgba(10, 120, 0, 0.4);
}

.button p {
    padding: 0 20px;
}

.button img {
    width: 25%;
    margin-left: 10px;
}

.button.package p {
    padding: 0 10px;
    color: white;
    letter-spacing: normal;
}

.button.package p.text_notice {
    font-size: 17px;
}

.button.package p.text_price {
    margin-top: 5px;
}

.bar {
    width: 100%;
    height: 20%;
    margin-top: 5px;
    background-color: rgb(36, 32, 32);
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: inset 0 3px rgba(0, 0, 0, 0.5);
}

.bar_completed {
    background-color: rgb(0, 209, 31);
    box-shadow: inset 0 3px rgba(0, 58, 12, 0.5);
}

.package_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.package_wrapper {
    width: 100%;
}

.package_details {
    position: relative;
    width: 28%;
    height: 500px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    justify-content: flex-start;
    overflow: hidden;
}

.package_details > .header {
    width: 100%;
    background-color: rgba(40, 139, 40, 0.8);
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    box-shadow:
        inset 0 2px rgba(255, 255, 255, 0.2),
        inset 0 -1px rgba(255, 255, 255, 0.2);
}

.package_details > .header > p {
    color: white;
    font-style: normal;
    line-height: 15px;
    -webkit-text-stroke: 4px transparent;
}

.package_details > .content {
    width: 95%;
    padding: 10px;
}

.package_details > .content > .item {
    width: 100%;
    margin: 5px 0;
    background-color: rgb(89, 163, 89);
    box-shadow:
        inset 0 2px rgba(255, 255, 255, 0.2),
        inset 0 -1px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    justify-content: flex-start;
}

.package_details > .content > .item > .image {
    width: 60px !important;
    height: 60px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(49, 87, 49);
    border-radius: 10px;
    align-items: center !important;
    flex-shrink: 0;
}

.package_details > .content > .item > .image > img {
    width: 100%;
}

.package_details > .content > .item > .flex {
    align-items: flex-start;
}

.package_details > .content > .item > .flex > p {
    padding: 0 10px;
    font-size: 30px;
    line-height: 30px;
    color: white;
}

.package_details > .content > .item > .flex > p.text_small {
    padding: 2px 10px;
    font-size: 20px;
    line-height: 25px;
}

.text_note {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: rgb(200, 200, 200);
}

.discord_mention {
    background: #1034D782;
    padding: 0px 3px;
    border-radius: 5px;
    color: #BFD1FF;
    -webkit-text-stroke: 0px;
}

.method4 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 20px;
}